.footer {
  background: #100000;
  font-size: 30px;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  display: inline-block;
  padding: 20px 20px;
}

.footer a {
  color: #FFFFFF;
}

.footer a:hover {
  color: #fd1015;
  transition: all 1s ease;
}

.footer p {
  color: #4A4A4A;
  font-size: 16px;
  margin: 0;
  padding: 0 0 20px 0;
}

.footer .fas {
  color: #fd1015;
}
